:root {
    --color-primary: #1b1b1b;
    --color-secondary: #323238;
    --color-tertiary: #579efa;
    --color-label: #97d5cb;
    --color-black: #222;
    --color-white: rgb(255, 255, 255);
    --color-white-opacity: rgba(255, 255, 255, 0.5);
    --color-border: hsl(0, 0%, 80%);
    --color-error: #ee6352;
    --color-bkg: #4a4747;
    --color-link: #e59f71;

    /* CSS HSL */

    --font-14: 0.875rem;
    --font-16: 1rem;
    --font-18: 1.125rem;
    --font-24: 1.5rem;
    --font-26: 1.625rem;
    --font-32: 2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

.sr-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
